<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ziqqi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Ziqqi"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_updated"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_icon_updated"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.PaymentConfirmationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewAllDealsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.PaymentGatewayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ShippingInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BillingInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.SearchResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FeedbackActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HelpCenterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CommSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CommunicationPrefActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MyAddressBookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MyOrdersActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SelectYourLanguageActivity"
            android:label="@string/title_activity_select_your_language"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SecondSplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SubCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewAllProductsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.hover.ApiKey"
            android:value="7295e4d4075b4d375a4923f2ea044ec3" />

        <service android:name=".firebase.FireIDService" />
        <service android:name=".firebase.FireMsgService" />
    </application>

</manifest>